.teamOptions {
    display: inline;
    flex-direction: row;
    margin-top: 5vh;
    height: 10vh;
    width: 20vw;
    font-weight: bold;
    font-size: 75%;
}

.nameInput {
    height: 10vh;
    width: 60vw;
}
