@import url(https://fonts.googleapis.com/css?family=Modak);
.body {
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgb(85, 203, 243);
}

.container {
    /* overflow: hidden; */
    height: 150px;
    width: 1000px;
    padding-top: 0px;
    display: inline-block;
    position: relative;
    top: 50px;
}

.letter {
    display: inline-block;
    font-family: "Modak", sans-serif;
    font-size: 190px;
    color: #da6608;
    -webkit-text-stroke: 1px #282828;
    position: relative;
    z-index: 0;
    top: -20px;
    line-height: 90px;
    top: 50px;
    margin-right: -10px;
    transform: translate3d(0, -300px, 0);
}

.C:after {
    content: "C";
    font-size: 190px;
}

.O:after {
    content: "O";
    font-size: 190px;
}

.R:after {
    content: "R";
    font-size: 190px;
}

.R:after {
    content: "R";
    font-size: 190px;
}

.E:after {
    content: "E";
    font-size: 190px;
}

.L:after {
    content: "L";
    font-size: 190px;
}

.A:after {
    content: "A";
    font-size: 190px;
}

.T:after {
    content: "T";
    font-size: 190px;
}

.E:after {
    content: "E";
    font-size: 190px;
}

.C:after,
.O:after,
.R:after,
.R:after,
.E:after,
.L:after,
.A:after,
.T:after,
.E:after {
    position: absolute;
    left: 0;
    top: -8px;
    transition: all 1s;
    color: orange;
    -webkit-text-stroke: 5px #282828;

    opacity: 4;
    z-index: 0;
}

.letter:nth-child(1) {
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
}
.letter:nth-child(1):after {
    animation-delay: 2.7s;
    -webkit-animation-delay: 2.7s;
}

.letter:nth-child(2) {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}
.letter:nth-child(2):after {
    animation-delay: 2.9s;
    -webkit-animation-delay: 2.9s;
}

.letter:nth-child(3) {
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}
.letter:nth-child(3):after {
    animation-delay: 3.1s;
    -webkit-animation-delay: 3.1s;
}

.letter:nth-child(4) {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
}
.letter:nth-child(4):after {
    animation-delay: 3.3s;
    -webkit-animation-delay: 3.3s;
}

.letter:nth-child(5) {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.letter:nth-child(5):after {
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
}

.letter:nth-child(6) {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
}
.letter:nth-child(6):after {
    animation-delay: 3.7s;
    -webkit-animation-delay: 3.7s;
}

.letter:nth-child(7) {
    animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
}
.letter:nth-child(7):after {
    animation-delay: 3.9s;
    -webkit-animation-delay: 3.9s;
}

.letter:nth-child(8) {
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
}
.letter:nth-child(8):after {
    animation-delay: 4.1s;
    -webkit-animation-delay: 4.1s;
}

.letter:nth-child(9) {
    animation-delay: 1.9s;
    -webkit-animation-delay: 1.9s;
}
.letter:nth-child(9):after {
    animation-delay: 4.3s;
    -webkit-animation-delay: 4.3s;
}

.letter {
    animation: show 0.3s 4s 1 ease-out forwards;
}

.letter:after {
    animation: up 1s 1 ease-out forwards;
}
@keyframes shine {
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}

@keyframes show {
    100% {
        -webkit-transform: translate3d(0, -30px, 0);
        -moz-transform: translate3d(0, -30px, 0);
        -ms-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
}
@keyframes up {
    30% {
        -webkit-transform: translate3d(0, -21px, 0);
        -moz-transform: translate3d(0, -21px, 0);
        -ms-transform: translate3d(0, -21px, 0);
        transform: translate3d(0, -21px, 0);
    }
    60% {
        -webkit-transform: translate3d(0, -12px, 0);
        -moz-transform: translate3d(0, -12px, 0);
        -ms-transform: translate3d(0, -12px, 0);
        transform: translate3d(0, -12px, 0);
    }
    80% {
        -webkit-transform: translate3d(0, -21px, 0);
        -moz-transform: translate3d(0, -21px, 0);
        -ms-transform: translate3d(0, -21px, 0);
        transform: translate3d(0, -21px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -15px, 0);
        -moz-transform: translate3d(0, -15px, 0);
        -ms-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -7px, 0);
        -moz-transform: translate3d(0, -7px, 0);
        -ms-transform: translate3d(0, -7px, 0);
        transform: translate3d(0, -7px, 0);
    }
}
@-webkit-keyframes show {
    100% {
        -webkit-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
        -ms-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
}
@-webkit-keyframes up {
    30% {
        -webkit-transform: translate3d(0, -21px, 0);
        -moz-transform: translate3d(0, -21px, 0);
        -ms-transform: translate3d(0, -21px, 0);
        transform: translate3d(0, -21px, 0);
    }
    60% {
        -webkit-transform: translate3d(0, -12px, 0);
        -moz-transform: translate3d(0, -12px, 0);
        -ms-transform: translate3d(0, -12px, 0);
        transform: translate3d(0, -12px, 0);
    }
    80% {
        -webkit-transform: translate3d(0, -21px, 0);
        -moz-transform: translate3d(0, -21px, 0);
        -ms-transform: translate3d(0, -21px, 0);
        transform: translate3d(0, -21px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -15px, 0);
        -moz-transform: translate3d(0, -15px, 0);
        -ms-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -21px, 0);
        -moz-transform: translate3d(0, -21px, 0);
        -ms-transform: translate3d(0, -21px, 0);
        transform: translate3d(0, -21px, 0);
    }
}
@keyframes shine {
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}
