.rightArrow {
  width: 100px;
  height: 40px;
  background: -webkit-linear-gradient(left, #2980b9 0%, #3498db 100%);
  padding: 0;
  float: right;
  margin: 5em;
}
.rightArrow:after {
  display: block;
  float: left;
  padding: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  margin: -1.25em 6.21em;
  border-left: 40px solid #3498db;
}

.rightArrow .rightArrow {
  position: absolute;
  width: 100px;
  height: 30px;
  background: #ecf0f1;
  margin: 0.3em;
}
.rightArrow .rightArrow:after {
  display: block;
  float: left;
  padding: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  margin: -0.9em 6.15em;
  border-left: 30px solid #ecf0f1;
}
