@import url(https://fonts.googleapis.com/css?family=Modak);

.roomCodeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: bottom;
    padding-top: 4em;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation-delay: 5.5s;
}

.p1 {
    font-family: Modak;
    font-size: 50px;
    margin-right: 20px;
    color: orange;
    -webkit-text-stroke: 3px #282828;
}

.p2 {
    font-size: 50px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation-delay: 6s;
}
.startGame {
    height: 50px;
    width: 10%;
    background-color: #b5c737;
    font-weight: bold;
    font-size: 1em;
    padding: 5px;
    margin: 10px;
}

.startGame:hover {
    opacity: 0.7;
    background-color: #3e8e41;
}

.startGame:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.deleteRoom {
    height: 50px;
    width: 10%;
    background-color: red;
    font-weight: bold;
    font-size: 1em;
    padding: 5px;
    margin: 10px;
}
.deleteRoom:hover {
    background-color: rgb(233, 72, 72);
    opacity: 0.7;
}

.deleteRoom:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.playersList {
    position: relative;
    left: 50vw;
    transform: translate(-46%);
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 13.5vh 13.5vh 13.5vh 13.5vh 13.5vh 13.5vh 13.5vh 13.5vh 13.5vh;
    grid-row-gap: 1vw;
}

@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}
