.message {
    color: orange;
    font-size: 4vh;
    font-family: "Modak", sans-serif;
    -webkit-text-stroke: 1px #282828;
    justify-content: center;
    margin-top: -20%;
}

.botImageSmall {
    padding: 20%;
}
