.numbers {
    width: 25%;
    height: 60px;
    border-radius: 20px;
    border: 3px solid white;
    font-size: 30px;
    color: white;
    font-family: "Orbitron", serif;
    background: #7fa2ee;
    outline: 0;
}

.finalAnswer {
    width: 75%;
    height: 60px;
    border-radius: 20px;
    border: 3px solid white;
    font-size: 30px;
    color: white;
    font-family: "Orbitron", serif;
    background: darkblue;
    outline: 0;
}