/* .makeRoom {
    height: 5vh;
    width: 5vw;
    color: red;
} */

.startGame {
    border-radius: 20px;
    margin-top: 10vh;
    height: 10vh;
    width: 20vw;
    font-size: 2em;
    color: black;
    background-color: lightgreen;
    font-weight: bold;
}

.ipAddress {
    display: inline-block;
    width: 400px;
    height: 50px;
    background-color: lightgreen;
    border: white 2px;
    box-shadow: 5px black;
    font-size: 30px;
}

.h3 {
    font-size: 150px;
}
