.phone {
  height: 15vh;
}
.phoneSideSmall {
  height: 15vh;
  transform: rotate(90deg);
}
.phoneSideBig {
  height: 20vh;
  transform: rotate(90deg);
}
.name {
  position: relative;
  top: -11.5vh;
  font-size: 1em;
}
.nameBig {
  position: relative;
  top: -14vh;
  font-size: 1em;
}
