.wrapper {
  position: relative;
}
.phoneSideSmall {
  position: absolute;
  height: 10vw;
  transform: rotate(90deg) translateY(50%);
}

.name {
  position: absolute;
  top: 2.5vw;
  left: 50%;
  font-size: 1vw;
  transform: translateX(-50%);
}
