.gameButton {
  margin-top: 30vh;
  border-radius: 10px;
  height: 10vh;
  width: 20vw;
  font-family: "Arial";
  font-weight: bold;
  font-size: 1.5rem;
  background: darkblue;
  color: antiquewhite;
  border: 3px darkblue;
}

/* .logo {
  margin-top: 8vh;
} */
