.textContainer {
    border: solid 10px orange;
    font-family: "Modak", sans-serif;
    font-size: 4vh;
    z-index: 0;
    height: 75vh;
    width: 75%vw;
    margin-top: 10vh;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
}
