.textContainer {
    border: solid 10px orange;
    font-family: "Modak", sans-serif;
    -webkit-text-stroke: 1px #282828;
    font-size: 4vh;
    z-index: 0;
    height: 75vh;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    margin-left: 7vw;
    margin-right: 7vw;
}
.phoneMessage {
    color: orange;
}
