.container {
	position: relative;
	left: 50vw;
	transform: translate(-50%);
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.inputs {
	margin-top: 1vh;
}

.enterRoom {
	margin-top: 30vh;
	background-color: orange;
	padding: 2vh;
	border-radius: 5vh;
	color: orange;
	font-family: "Modak", sans-serif;
	-webkit-text-stroke: 1.5px #282828;
	font-size: 3rem;
	text-align: center;
}
