.question {
    top: -80px;
    font-size: 3em;
    background-color: antiquewhite;
    padding: 50px;
    border: 5px solid orange;
    border-radius: 5px;
    width: 80vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
