.roomNumber {
    position: absolute;
    justify-content: center;
    text-align: middle;
    border-radius: 5px;
    width: 15vw;
    height: 12vh;
    bottom: 20px;
    right: 20px;
    border: 2px white solid;
}

.text {
    display: flex;
    font-family: "Modak", sans-serif;
    font-size: 25px;
    z-index: 0;

    color: orange;
    -webkit-text-stroke: 1.5px #282828;

    justify-content: center;
}

.number {
    margin-top: 1vh;
    font-family: "Modak", sans-serif;
    font-size: 25px;
    color: orange;
    -webkit-text-stroke: 1.5px #282828;
    z-index: 0;
    line-height: 130%;
}
