.keypad {
  max-width: 400px;
  margin: auto;
}

.button {
  width: 25%;
  height: 60px;
  border-radius: 20px;
  border: 3px solid white;
  font-size: 30px;
  color: black;
  font-weight: bold;
  font-family: "Orbitron", serif;
  /* background: #7fa2ee; */
  background: #ffa500;
  outline: 0;
  font-family: "Baloo Bhai", cursive;
}
.result {
  height: 60px;
  background-color: #ffa500;
  width: 100%;
  font-family: "Baloo Bhai", cursive;
}

.result p {
  font-size: 40px;
  margin: 5px;
}
